.nav-social {
  display: flex;
  margin: auto var(--gap);
}

.nav-social .social-icons {
  display: inline-flex;
  align-items: center;
}

.nav-social .social-icons a {
  padding: 6px;
}

.nav-social .social-icons a svg {
  height: 20px;
  width: 20px;
}
