{{- $p := site.Params.homeInfoParams -}}
{{- with site.Params.homeInfoParamsByLang -}}
  {{- with index . site.Language.Lang -}}
    {{- $p = . -}}
  {{- end -}}
{{- end -}}

{{- with $p -}}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" (default site.Params.homeInfoParams.AlignSocialIconsTo .AlignSocialIconsTo)) }}
    </footer>
</article>
{{- end -}}
